@require './icons'

#root
  background-color: #2f6fad

  .result
    @extend .ico-like
    padding 0 6px 0 16px

    background-position left 1px
    background-repeat no-repeat
    background-size 14px

    font-weight bold
    cursor pointer

a
  color: blue
